.header-img {
  background-image: url('header.png');
  background-size: cover;
  height: 200px;
}

body {

}

h3 {
  text-align: center;
}

.navbar-brand {
  padding-top: 4px;
}

.navbar-inverse {
  color: white;
  font-size: 22px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}

.map {
  background-image: url('oahu.jpg');
  margin: 15px;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form-horizontal {
  margin: 15px;
}