.header-img {
  background-image: url('header.png');
  background-size: cover;
  height: 200px;
}

body {

}

.navbar-brand {
  font-size: large;
  color: white;
}

.navbar-inverse {
  color: white;
  font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}