/** General **/

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 100px;
}

h3 {
  text-align: center;
}

h4 {
  color: #49d8b4;
  text-align: center;
}

.well {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer > .row > .col-md-12 {
  padding: 0px;
}

.footer > .row > .col-md-12 > .well {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
  margin: 0px;
  border-radius: 0px;
}

.footer > .row > .col-md-12 > .well > a {
  color: white;
}

/** Navbar **/

.navbar-brand {
  padding-top: 47px;
}

.navbar-inverse {
  z-index: 1;
  font-size: 24px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-collapse {
  border: 0;
}

.navbar-inverse .navbar-toggle {
  margin-top: 40px;
  border: 0;
  border-radius: 0px;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #00bc8d;
}

.navbar-inverse .navbar-nav {
  margin-top: 40px;
}

.navbar-inverse .navbar-nav > li > a {
  margin-left: 20px;
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}

/** Forms **/

.form-horizontal {
  margin: 15px;
}

.fish-form {
  padding: 10px;
}

/** Home Page **/

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.panel-default .panel-heading {
  background-color: rgba(70, 69, 69, 0.4);
  text-align: center;
  height: 50px;
  padding-top: 15px;
  border-radius: 3px;
}

.panel-default {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
}

.panel-group .panel-heading+.panel-collapse > .panel-body {
  border: 0;
}

.location-well {
  background-color: transparent;
  padding: 0px;
}

.location-container {
  padding-top: 40px;
  background-color: transparent;
}

#location-name {
  margin: 0;
}

#location-name > a:hover {
  margin: 0;
  text-decoration: none;
}

.add-fish > .btn {
  font-size: 30px;
  background-color: rgba(0, 188, 141, 0.5);
  padding: 10px 20px 10px 20px;
  width: 100%;
  height: 125px;
  line-height: 30px;
  border-radius: 3px;
}

.add-fish > .btn:hover {
  background: #49d8b4;
  text-decoration: none;
}

.panel-heading:hover {
  cursor: pointer;
  background-color: rgba(70, 69, 69, 0.8);
}

/** Location page **/

.table a:not(.btn) {
  text-decoration: none;
  color: white;
}

.table img {
  width: 120px;
}

/** Profile page**/

.user-options {
  border-radius: 3px;
  margin-top: 30px;
  padding: 10px 20px;
  background: #444444;
  font-size: 18px;
}

img {
  max-width: 100%;
}

/** Fish database page **/

.unknown-fish {
  border-radius: 3px;
  margin-top: 30px;
  background: #444444;
  padding: 15px;
}

/** Location database page **/

.location {
  border-radius: 3px;
  margin-top: 30px;
  background: #444444;
  padding: 15px;
}

.more-fish > .btn {
  border-radius: 3px;
  font-size: 20px;
  background: #00bc8d;
  width: 100%;
  height: 50px;
}

.more-fish > .btn:hover {
  background: #49d8b4;
  text-decoration: none;
}

.percent {
  color: darkred;
}

.fish-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}

.col-md-4 {
  padding: 0px;
}

/** Add Fish **/

.thumbnail {
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 2px;
  border: 0px;
  height: 220px;
  width: 220px;
}

.thumbnail > img {
  margin: 0px;
  max-height: 170px;
}

.thumbnail:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.add-fish-well {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}