.header-img {
  background-image: url('../images/header.png');
  background-size: cover;
  height: 200px;
}

body {

}

h3 {
  text-align: center;
}

.navbar-brand {
  padding-top: 2px;
}

.navbar-inverse {
  color: white;
  font-size: 22px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}

.map {
  background-image: url('mockuppics/oahu.jpg');
  margin: 15px;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form-horizontal {
  margin: 15px;
}

#map {
  width: 100%;
  height: 519px;
}

.location-map {
  height: 100px;
}

.location-detail {
  padding: 10px 20px;
  line-height: .90;
  background: #444444;
  border-radius: 3px;
}

.table a:not(.btn) {
  text-decoration: none;
  color: white;
}

.table img {
  width: 120px;
}

.user-options {
  border-radius: 3px;
  margin-top: 30px;
  padding: 10px 20px;
  background: #444444;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.add-fish > .btn {
  border-radius: 3px;
  font-size: 30px;
  background: #00bc8d;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  width: 100%;
  height: 125px;
  line-height: 30px;
}

.add-fish > .btn:hover {
  background: #49d8b4;
  text-decoration: none;
}

.fish-form {
  padding: 30px;
}

.unknown-fish {
  border-radius: 3px;
  margin-top: 30px;
  background: #444444;
  padding: 15px;
}


.location {
  border-radius: 3px;
  margin-top: 30px;
  background: #444444;
  padding: 15px;
}

.hanaumamap {
  padding-top: 10px;
}

.more-fish > .btn {
  border-radius: 3px;
  font-size: 20px;
  background: #00bc8d;
  width: 100%;
  height: 50px;
}

.more-fish > .btn:hover {
  background: #49d8b4;
  text-decoration: none;
}