@(locationForm: Form[views.formdata.LocationFormData])

@import bootstrap3._
@import helper._

@Main("AddFish") {
  <div class="container">
    <h3>Adding fish...</h3>

    @form(routes.Application.addFishToLoc(), 'class -> "form-horizontal") {
      <input type="hidden"
      name="@locationForm("id").name">

      @text(locationForm("location"),
        id = "current-location",
        label = "Location",
        value = "",
        placeholder = "Waikiki",
        help = "")

      @text(locationForm("fish"),
        label = "Fish",
        placeholder = "Reef Triggerfish",
        help = "")

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="submit" type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    }
  </div>

  <script type="text/javascript">

  function getURLParameter(name) {
  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
  }

  document.getElementById ( "current-location" ).value = getURLParameter('Location') ;

  </script>

}
