@(locationForm: Form[views.formdata.LocationFormData])

@import bootstrap3._
@import helper._

@Main("AddFish") {
  <div class="container">
    <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="well well-sm">
          <h2>Adding fish...</h2>
          <h3 class="fish-input-type-header">Select from the images below...</h3>
          <div id="select-by-image"></div>
          <h3 class="fish-input-type-header">If your fish is not shown above...</h3>
          @form(routes.Application.addFishToLoc(), 'class -> "form-horizontal") {
            <input type="hidden"
            name="@locationForm("id").name">

            @text(locationForm("location"),
              id = "current-location",
              label = "Current Location (required)",
              value = "",
              placeholder = "Waikiki",
              help = "")

            @text(locationForm("fish"),
              label = "Fish sighted (required if no picture is uploaded).  Enter the scientific name for best results.",
              placeholder = "Reef Triggerfish",
              help = "")

            <div class="fish-form">
              <label for="exampleInputFile">Upload a picture of your fish:</label>
              <input type="file" id="exampleInputFile">
            </div>

            <div class="fish-form">
                <button id="submit" type="submit" class="btn btn-default">Add</button>
            </div>
          }
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
}
