@(locationForm: Form[views.formdata.LocationFormData])

@import bootstrap3._
@import helper._

@Main("AddFish") {
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="well well-sm add-fish-well">
        <h3 class="fish-input-type-header">Choose a fish from below...</h3>
          <h4>These fish were spotted at this location.</h4>
        <div id="select-by-image"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well well-sm">
          <h3 class="fish-input-type-header">...Or input manually</h3>
          @form(routes.Application.addFishToLoc(), 'class -> "form-horizontal") {
            <input type="hidden"
            name="@locationForm("id").name">

            @text(locationForm("location"),
              id = "current-location",
              label = "Current Location (required)",
              value = "",
              placeholder = "Waikiki",
              help = "")

            @text(locationForm("fish"),
              id = "fish-name-input",
              label = "Fish sighted (required if no picture is uploaded).  Enter the scientific name for best results.",
              placeholder = "Reef Triggerfish",
              help = "")

            <div class="fish-form">
              <label for="exampleInputFile">Upload a picture of your fish:</label>
              <input type="file" id="exampleInputFile">
              <br>
                <button id="submit" type="submit" class="btn btn-default">Add</button>
            </div>
          }
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
}
