@(message: String)

@Main("Database") {
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        &nbsp
      </div>
      <div class="col-md-8 searchFish">
        <div class="well well-sm">
          <h3>Search for fish</h3>
          <form class="form-horizontal" method=GET action="@routes.Application.fishResult()">
            <div class="form-group">
              <label for="common" class="col-sm-2 control-label">Common Name</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="common" name="common" placeholder="Hawaiian Yellow Anthias">
              </div>
              <label for="family" class="col-sm-2 control-label">Family</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="family" name="family" placeholder="Serranidae">
              </div>
            </div>
            <div class="form-group">
              <label for="genus" class="col-sm-2 control-label">Genus</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="genus" name="genus" placeholder="Odontanthias">
              </div>
              <label for="species" class="col-sm-2 control-label">Species</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="species" name="species" placeholder="fuscipinnis">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2">
        &nbsp
      </div>
    </div>
  </div>
}

