@(message: String, id: Long)

@Main("FishProfile") {

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm">
          <h3 id = "fishHeader">@FishDB.getFish(id).getCommonName</h3>
          <img src=@routes.Assets.at(FishDB.getFish(id).getImage())>
        </div>
      </div>

      <div class="col-md-8">
        <div class="well well-sm fish-profile-well">
          <h4>Common Name</h4>
          @FishDB.getFish(id).getCommonName
          <h4>Scientific Name</h4>
          @FishDB.getFish(id).getGenus @FishDB.getFish(id).getSpecies
          <h4>Family</h4>
          @FishDB.getFish(id).getFamily
          <h4>Locations found</h4>
          @for(location <- FishDB.getFish(id).getLocations()) {
            <a class="fish-found" href="/location?id=@location.getId()">@location.getName(),</a>
          }

        </div>
      </div>
    </div>
  </div>
}
