@(message: String)

@Main("Home") {
  <script type="text/javascript">
  var overlayCoordinates =[
    @for(location <- LocationDB.getLocations) {
      @Html("[")
      @for(coordinatePair <- location.getCoordinates) {
        @Html("new google.maps.LatLng(" + coordinatePair + "), ")
      }
      @Html("],")
    }
  ] ;
  var overlayNames =[
    @for(location <- LocationDB.getLocations) {
      @Html("\"" + location.getName() + "\", ")
    }
  ] ;

  function getLocation ( ) {
  document.getElementById ( "grab-location" ).value = document.getElementById ( "location-name" ).textContent ;
  }
  </script>

  <div class="container location-container">
    <div class="row">

      <div class="col-md-8">
        &nbsp
      </div>
      <div class="col-md-4">
        <div class="well well-sm location-well">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading" onclick="userLocation ( )">
                <h4 class="panel-title">
                  Focus On User Location</h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                <div class = "location-header">
                  <h4 id="location-name"><a>Click a Location on Map</a></h4>
                </div>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="location-detail">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th><u>Sighting Rate</u></th>
                          <th><u>Fish</u></th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                    <h4 id="view-detail"><a></a></h4>
                  </div>
                  <form method=GET action="@routes.Application.addFish()">
                    <div class="add-fish">
                      <button class="btn" onclick="getLocation ( )"><p>Add fish</p>
                        <p>to location</p></button>
                      <input id="grab-location" type="hidden" name="Location">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
}
