@(message: String)

@Main("Home") {
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="well well-sm"><h3>Select a coastal area or view <a href="#">current location</a></h3>

          <div id="map" class="center-block">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-sm"><h3>Location detail</h3>


          <div class="location-detail">
            <h4><a href="#hanauma">Hanauma Bay</a></h4>

            <table class="table table-condensed">
              <tr>
                <th><u>Sighting Rate</u></th>
                <th><u>Fish</u></th>
              </tr>
              <tr>
                <td>15%</td>
                <td><a href="#fish1">Hawaiian Sergeant</a></td>
              </tr>
              <tr>
                <td>13.5%</td>
                <td><a href="#fish2">Christmas Wrasse</a></td>
              </tr>
              <tr>
                <td>10.3%</td>
                <td><a href="#fish3">Ember Parrotfish</a></td>
              </tr>
              <tr>
                <td>9.6%</td>
                <td><a href="#fish4">Yellowstripe Goatfish</a></td>
              </tr>
              <tr>
                <td>7%</td>
                <td><a href="#fish4">Brown Tang</a></td>
              </tr>
              <tr>
                <td>4.2%</td>
                <td><a href="#fish4">Bluestripe Snapper</a></td>
              </tr>
              <tr>
                <td>2%</td>
                <td><a href="#fish4">Reef Triggerfish</a></td>
              </tr>
              <tr>
                <td>1%</td>
                <td><a href="#fish4">Indo-Pacific Sergeant</a></td>
              </tr>

            </table>
            <p><u><a href="#detail">Click to see more details...</a></u></p>
          </div>

          <div class="add-fish">
            <button class="btn"><p>Add fish</p>

            <p>to location</p></button>
          </div>
        </div>


      </div>
    </div>
  </div>
}