@(message: String)

@Main("Location") {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm">
          <h3>Hanauma Bay</h3>
          <img src=@routes.Assets.at("images/hanauma.jpg")>
          <img class="hanaumamap" src=@routes.Assets.at("images/hanaumamap.jpg")>

          <div class="location">
            <u><p>Description</p></u>

            <p>A protected marine reserve in Southeast Oahu.</p>
            <u><p>Good for</p></u>

            <p>Snorkeling, Scuba diving</p>
            <u><p>Coordinates</p></u>

            <p>21.2714 N, 157.6944 W</p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="well well-sm">
          <h3>Fish Statistics</h3>
          <table class="table table-condensed">
            <tr>
              <th><u>Sighting Rate</u></th>
              <th><u>Fish</u></th>
              <th>Image</th>
            </tr>
            <tr>
              <td>15%</td>
              <td><a href="#fish1">Hawaiian Sergeant</a></td>
              <td><img src=@routes.Assets.at("images/damsel.jpg")></td>
            </tr>
            <tr>
              <td>13.5%</td>
              <td><a href="#fish2">Christmas Wrasse</a></td>
              <td><img src=@routes.Assets.at("images/wrasse2.jpg")></td>
            </tr>
            <tr>
              <td>10.3%</td>
              <td><a href="#fish3">Ember Parrotfish</a></td>
              <td><img src=@routes.Assets.at("images/parrot2.jpg")></td>
            </tr>
            <tr>
              <td>9.6%</td>
              <td><a href="#fish4">Yellowstripe Goatfish</a></td>
              <td><img src=@routes.Assets.at("images/goat.jpg")></td>
            </tr>
            <tr>
              <td>7%</td>
              <td><a href="#fish4">Brown Tang</a></td>
              <td><img src=@routes.Assets.at("images/surgeon.jpg")></td>
            </tr>
            <tr>
              <td>4.2%</td>
              <td><a href="#fish4">Bluestripe Snapper</a></td>
              <td><img src=@routes.Assets.at("images/snapper.jpg")></td>
            </tr>
            <tr>
              <td>2%</td>
              <td><a href="#fish4">Reef Triggerfish</a></td>
              <td><img src=@routes.Assets.at("images/trigger.jpg")></td>
            </tr>
            <tr>
              <td>1%</td>
              <td><a href="#fish4">Indo-Pacific Sergeant</a></td>
              <td><img src=@routes.Assets.at("images/damsel2.jpg")></td>
            </tr>

          </table>
          <div class="more-fish">
            <button class="btn"><p>Cick to view more...</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
}