@(message: String, locationName: String)

  @Main("LocationData") {
    <div id="location-data">
      <div id="location-url">/location?id=@LocationDB.getId(locationName)</div>
      <div id="location-name">@locationName</div>
        <!-- For each fish in the location, fill in the following -->
      @for(fish <- LocationDB.getLocation(locationName).getFishes()) {
        <div class="fish-data">
          <div class="fish-name">@fish.getCommonName()</div>
          <div class="fish-count">@LocationDB.getLocation(locationName).getFishCount(fish).getCount()</div>
        </div>
      }
    </div>
  }