@(message: String, id: Long)

@Main("Location") {
  @if(LocationDB.getLocation(id) == null) {
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well well-sm">
            <h3>No location found</h3>

            <div class="location">
              <u><p>Description</p></u>

              <u><p>Good for</p></u>

              <u><p>Coordinates</p></u>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="well well-sm">
            <h3>Fish Statistics</h3>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><u>Sighting Rate</u></th>
                  <th><u>Fish</u></th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div class="more-fish">
              <button class="btn"><p>Cick to view more...</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  } else {
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well well-sm">
            <h3>@LocationDB.getLocation(id).getName()</h3>
            <img src=@routes.Assets.at(LocationDB.getLocation(id).getImage())>
            <img class="hanaumamap" src=@routes.Assets.at("images/hanaumamap.jpg")>

            <div class="location">
              <u><p>Description</p></u>
              <p>@LocationDB.getLocation(id).getDescription()</p>

              <u><p>Good for</p></u>
              <p>@LocationDB.getLocation(id).getGoodFor()</p>

              <u><p>Coordinates</p></u>
              <p>@LocationDB.getLocation(id).getLatitude() N, @LocationDB.getLocation(id).getLongitude() W</p>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="well well-sm">
            <h3>Fish Statistics</h3>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><u>Sighting Rate</u></th>
                  <th><u>Fish</u></th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
              @for(fish <- LocationDB.getLocation(id).getFishCounts().keySet()) {
                <tr>
                  <td>
                    <span>@LocationDB.getLocation(id).getFishCounts().get(fish) fish</span>
                    <span>(@("%.2f".format((LocationDB.getLocation(id).getFishCounts().get(fish) * 100.0) / LocationDB.getLocation(id).totalFishCount())) %)</span>
                  </td>
                  <td><a href="">@FishDB.getFish(fish).getCommonName()</a></td>
                  <td><img src=@routes.Assets.at(FishDB.getFish(fish).getImage())</ td>
                </tr>
              }
              </tbody>
            </table>
            <div class="more-fish">
              <button class="btn"><p>Cick to view more...</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
}