@(message: String, id: Long)

@Main("Location") {
  @if(LocationDB.getLocation(id) == null) {
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well well-sm">
            <h3>No location found</h3>

            <div class="location">
              <u><p>Coastal areas of interest:</p></u>

            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="well well-sm">
            <h3>Fish Statistics</h3>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th><u>Sighting Rate</u></th>
                  <th><u>Fish</u></th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  } else {
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well well-sm">
            <h3>@LocationDB.getLocation(id).getName()</h3>
            <img src=@routes.Assets.at(LocationDB.getLocation(id).getImage())>

            <div class="location">
              <u><p>Coastal areas of interest:</p></u>
              <p>@LocationDB.getLocation(id).getDescription()</p>

            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="well well-sm location-fish-well">
            <h3>Fish Statistics</h3>
            <table id="fish-data" class="table table-condensed">
              <thead>
                <tr>
                  <th><u>Sighting Rate</u></th>
                  <th><u>Fish</u></th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
              @for(fish <- LocationDB.getLocation(id).getFishes()) {
                <tr class="fish-data">
                  <td>
                    <span>@LocationDB.getLocation(id).getFishCount(fish).getCount() fish</span>
                    <span class="percent fish-count">(@("%.2f".format((LocationDB.getLocation(id).getFishCount(fish).getCount() * 100.0) / LocationDB.getLocation(id).totalFishCount())) %)</span>
                  </td>
                  <td>
                    <form method=GET action="@routes.Application.fishProfile()">
                      <button class="fish-button">@fish.getCommonName()</button>
                      <input id="fish-id" type="hidden" name="id" value=@fish.getId()>
                  </form>
                  </td>
                  <td><img src=@routes.Assets.at(fish.getImage())></td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  }

}