@(message: String)

@Main("Profile") {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm">
          <h4>Welcome back, Danny!</h4>

          <div class="user-options">
            <u>
              <p><a href="#addfish">Add fish to location</a></p>

              <p><a href="#addfish">Your sightings</a></p>

              <p><a href="#addfish">Settings</a></p>
            </u>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="well well-sm">
          <h3>Recent activity</h3>

          <div class="recent-activity">
            <p>You spotted <a href="#wrasse">Christmas Wrasse</a> at <a href="#hbay">Haunauma Bay</a></p>
            <img src=@routes.Assets.at("images/wrasse.jpg")>
          </div>
        </div>
      </div>
    </div>


  </div>
}